{
  "openapi": "3.0.0",
  "info": {
    "title": "Seed Certification API",
    "version": "1.0.0",
    "description": "API Gateway for Seed Certification System with Zero Trust Architecture using Hyperledger Fabric blockchain, IPFS storage, and Keycloak authentication",
    "contact": {
      "name": "API Support"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [{
      "url": "https://gateway.jabarchain.me",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001",
      "description": "Development server"
    }
  ],
  "tags": [{
      "name": "Health",
      "description": "Health check and monitoring endpoints"
    },
    {
      "name": "Identity",
      "description": "User identity management - registration, login, and blockchain enrollment"
    },
    {
      "name": "Seed Batches",
      "description": "Seed batch management and certification operations"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Get overall system health status",
        "description": "Returns health status of all services (Blockchain, IPFS, Redis Queue)",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "System is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "System is degraded or unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/liveness": {
      "get": {
        "tags": ["Health"],
        "summary": "Kubernetes liveness probe",
        "description": "Simple liveness check for Kubernetes",
        "operationId": "getLiveness",
        "responses": {
          "200": {
            "description": "Service is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alive": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/health/readiness": {
      "get": {
        "tags": ["Health"],
        "summary": "Kubernetes readiness probe",
        "description": "Check if service is ready to accept traffic",
        "operationId": "getReadiness",
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service is not ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/register": {
      "post": {
        "tags": ["Identity"],
        "summary": "Register new user in Keycloak",
        "description": "Creates a new user in Keycloak IDP. This is the first step of the registration flow. After registration, user should login to get access token, then call /enroll to create blockchain identity.",
        "operationId": "registerUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Username or email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/login": {
      "post": {
        "tags": ["Identity"],
        "summary": "Login and get access token",
        "description": "Authenticates user and returns Keycloak access token. Use this token in Authorization header for other API calls.",
        "operationId": "loginUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/identity/register-and-enroll": {
      "post": {
        "tags": ["Identity"],
        "summary": "Register and automatically enroll user",
        "description": "Combined endpoint that registers user in Keycloak and automatically enrolls them in Fabric CA. This creates both the IDP identity and blockchain identity in one step.",
        "operationId": "registerAndEnrollUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered and enrolled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAndEnrollResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data"
          },
          "409": {
            "description": "Username or email already exists"
          }
        }
      }
    },
    "/api/v1/identity/enroll": {
      "post": {
        "tags": ["Identity"],
        "summary": "Enroll user identity in Fabric CA",
        "description": "Registers the authenticated user with Fabric CA and creates wallet identity. Should be called after user registers/logs in via Keycloak. The CA will generate a private key and certificate for the user.",
        "operationId": "enrollUser",
        "security": [{
          "bearerAuth": []
        }],
        "responses": {
          "201": {
            "description": "User enrolled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollResponse"
                }
              }
            }
          },
          "200": {
            "description": "User identity already exists"
          },
          "401": {
            "description": "Unauthorized - valid Keycloak token required"
          }
        }
      }
    },
    "/api/v1/identity/status": {
      "get": {
        "tags": ["Identity"],
        "summary": "Check user identity status",
        "description": "Check if the authenticated user has a Fabric identity in the wallet",
        "operationId": "checkIdentityStatus",
        "security": [{
          "bearerAuth": []
        }],
        "responses": {
          "200": {
            "description": "Identity status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/identity/reenroll": {
      "post": {
        "tags": ["Identity"],
        "summary": "Re-enroll user identity",
        "description": "Refresh the user's certificate (re-enrollment). Use this when certificate is about to expire.",
        "operationId": "reenrollUser",
        "security": [{
          "bearerAuth": []
        }],
        "responses": {
          "200": {
            "description": "Re-enrollment successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User identity not found"
          }
        }
      }
    },
    "/api/v1/identity/revoke": {
      "post": {
        "tags": ["Identity"],
        "summary": "Revoke user identity",
        "description": "Revoke the user's certificate. Admin only operation.",
        "operationId": "revokeUser",
        "security": [{
          "bearerAuth": []
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId"],
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "User ID to revoke"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for revocation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity revoked successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - admin role required"
          }
        }
      }
    },
    "/api/v1/identity/list": {
      "get": {
        "tags": ["Identity"],
        "summary": "List all identities",
        "description": "List all user identities in the wallet. Admin only operation.",
        "operationId": "listIdentities",
        "security": [{
          "bearerAuth": []
        }],
        "responses": {
          "200": {
            "description": "List of identities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "identities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - admin role required"
          }
        }
      }
    },
    "/api/seed-batches/my-batches": {
      "get": {
        "tags": ["Seed Batches"],
        "summary": "Get seed batches owned by current user",
        "description": "Retrieve list of seed batches created by the currently logged-in producer. Only returns batches where the producer_keycloak_id matches the authenticated user's ID.",
        "operationId": "getMySeedBatches",
        "security": [{
          "bearerAuth": []
        }],
        "responses": {
          "200": {
            "description": "List of user's seed batches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 5
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SeedBatch"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "description": "Forbidden - producer role required or user identity not enrolled"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seed-batches": {
      "get": {
        "tags": ["Seed Batches"],
        "summary": "Get all seed batches",
        "description": "Retrieve list of all seed batches from blockchain",
        "operationId": "getAllSeedBatches",
        "security": [{
          "bearerAuth": []
        }],
        "responses": {
          "200": {
            "description": "List of seed batches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SeedBatch"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Seed Batches"],
        "summary": "Create new seed batch",
        "description": "Create a new seed batch with document upload (Producer role required)",
        "operationId": "createSeedBatch",
        "security": [{
          "bearerAuth": []
        }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["varietyName", "commodity", "harvestDate", "seedSourceNumber", "origin", "iupbNumber", "seedClass", "declaredQuantity", "document"],
                "properties": {
                  "varietyName": {
                    "type": "string",
                    "description": "Seed variety name",
                    "minLength": 2,
                    "maxLength": 100,
                    "example": "Coffee Arabica Premium"
                  },
                  "commodity": {
                    "type": "string",
                    "description": "Commodity type",
                    "minLength": 2,
                    "maxLength": 50,
                    "example": "Coffee"
                  },
                  "harvestDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Harvest date (ISO format: YYYY-MM-DD)",
                    "example": "2025-11-15"
                  },
                  "seedSourceNumber": {
                    "type": "string",
                    "description": "Seed source number",
                    "minLength": 5,
                    "maxLength": 50,
                    "example": "SS-2024-001"
                  },
                  "origin": {
                    "type": "string",
                    "description": "Origin/location of seed source",
                    "minLength": 2,
                    "maxLength": 100,
                    "example": "Bandung, West Java"
                  },
                  "iupbNumber": {
                    "type": "string",
                    "description": "IUPB (Izin Usaha Perkebunan Benih) number",
                    "minLength": 5,
                    "maxLength": 50,
                    "example": "IUPB-2024-TEST-001"
                  },
                  "seedClass": {
                    "type": "string",
                    "enum": ["BS", "BD", "BP", "BR"],
                    "description": "Seed class classification (BS=Breeder Seed, BD=Foundation Seed, BP=Stock Seed, BR=Extension Seed)",
                    "example": "BD"
                  },
                  "declaredQuantity": {
                    "type": "number",
                    "description": "Declared seed quantity (must be positive)",
                    "example": 1000
                  },
                  "document": {
                    "type": "string",
                    "format": "binary",
                    "description": "Seed batch document (PDF, DOC, DOCX)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Seed batch created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "batchId": {
                      "type": "string",
                      "example": "BATCH-20251120-001"
                    },
                    "message": {
                      "type": "string",
                      "example": "Seed batch created successfully"
                    },
                    "ipfsCid": {
                      "type": "string",
                      "example": "QmXyZ123..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Producer role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seed-batches/{id}": {
      "get": {
        "tags": ["Seed Batches"],
        "summary": "Get seed batch by ID",
        "description": "Retrieve detailed information about a specific seed batch",
        "operationId": "getSeedBatch",
        "security": [{
          "bearerAuth": []
        }],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Seed batch ID",
          "schema": {
            "type": "string",
            "example": "BATCH-20251120-001"
          }
        }],
        "responses": {
          "200": {
            "description": "Seed batch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedBatch"
                }
              }
            }
          },
          "404": {
            "description": "Seed batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seed-batches/{id}/history": {
      "get": {
        "tags": ["Seed Batches"],
        "summary": "Get seed batch history",
        "description": "Retrieve complete transaction history of a seed batch from blockchain",
        "operationId": "getSeedBatchHistory",
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Seed batch ID",
          "schema": {
            "type": "string",
            "example": "BATCH-20251120-001"
          }
        }],
        "responses": {
          "200": {
            "description": "Seed batch history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryEntry"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Seed batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seed-batches/{id}/submit": {
      "post": {
        "tags": ["Seed Batches"],
        "summary": "Submit certification request",
        "description": "Submit seed batch for certification (Producer role required)",
        "operationId": "submitCertification",
        "security": [{
          "bearerAuth": []
        }],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Seed batch ID",
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["document"],
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary",
                    "description": "Certification request document (PDF or Word)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certification request submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Seed batch not found"
          }
        }
      }
    },
    "/api/seed-batches/{id}/inspect": {
      "post": {
        "tags": ["Seed Batches"],
        "summary": "Record field inspection",
        "description": "Record field inspection results with photo (Field Inspector role required)",
        "operationId": "recordInspection",
        "security": [{
          "bearerAuth": []
        }],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Seed batch ID",
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["inspectionResult", "testedSampleQty", "certifiedQty", "photo"],
                "properties": {
                  "inspectionResult": {
                    "type": "string",
                    "description": "Inspection result (minimum 10 characters)",
                    "example": "Hasil inspeksi lapangan menunjukkan kondisi tanaman benih dalam keadaan baik dan sesuai standar"
                  },
                  "testedSampleQty": {
                    "type": "number",
                    "description": "Quantity taken for quality testing (non-negative, physically removed from distributable stock)",
                    "minimum": 0,
                    "example": 50
                  },
                  "certifiedQty": {
                    "type": "number",
                    "description": "Quantity certified by field inspector (must be positive, cannot exceed declared quantity)",
                    "minimum": 1,
                    "example": 950
                  },
                  "photo": {
                    "type": "string",
                    "format": "binary",
                    "description": "Inspection photo or document (JPEG, PNG, PDF, Word)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inspection recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Field Inspector role required"
          }
        }
      }
    },
    "/api/seed-batches/{id}/evaluate": {
      "post": {
        "tags": ["Seed Batches"],
        "summary": "Evaluate inspection result",
        "description": "Evaluate field inspection results (Chief Inspector role required)",
        "operationId": "evaluateInspection",
        "security": [{
          "bearerAuth": []
        }],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Seed batch ID",
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["approvalStatus", "evaluationNote"],
                "properties": {
                  "approvalStatus": {
                    "type": "string",
                    "enum": ["APPROVE", "REJECT"],
                    "description": "Approval status (must be uppercase)"
                  },
                  "evaluationNote": {
                    "type": "string",
                    "description": "Evaluation note (minimum 10 characters)",
                    "example": "Evaluasi menunjukkan hasil inspeksi lapangan sudah sesuai dengan standar sertifikasi benih"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Chief Inspector role required"
          }
        }
      }
    },
    "/api/seed-batches/{id}/certificate": {
      "post": {
        "tags": ["Seed Batches"],
        "summary": "Issue certificate",
        "description": "Issue seed certification (LSM Head role required)",
        "operationId": "issueCertificate",
        "security": [{
          "bearerAuth": []
        }],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Seed batch ID",
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["certNumber", "expiryMonths", "certifiedQuantity", "certificate"],
                "properties": {
                  "certNumber": {
                    "type": "string",
                    "description": "Official certificate number issued by authority (5-50 characters)",
                    "minLength": 5,
                    "maxLength": 50,
                    "example": "BPSB-JB-2026-001234"
                  },
                  "expiryMonths": {
                    "type": "integer",
                    "description": "Certificate validity in months (1-120)",
                    "minimum": 1,
                    "maximum": 120,
                    "example": 12
                  },
                  "certifiedQuantity": {
                    "type": "number",
                    "description": "Certified quantity (must be positive, cannot exceed declared quantity)",
                    "example": 950
                  },
                  "certificate": {
                    "type": "string",
                    "format": "binary",
                    "description": "Certificate document (PDF or Word)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificate issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "certificateNumber": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - LSM Head role required"
          }
        }
      }
    },
    "/api/seed-batches/{id}/distribute": {
      "post": {
        "tags": ["Seed Batches"],
        "summary": "Record seed distribution",
        "description": "Record seed distribution to farmers (Producer role required)",
        "operationId": "distributeSeed",
        "security": [{
          "bearerAuth": []
        }],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Seed batch ID",
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["destinationType", "destinationName", "destinationAddress", "quantity"],
                "properties": {
                  "destinationType": {
                    "type": "string",
                    "enum": ["WAREHOUSE", "RETAILER", "FARMER_GROUP", "DISTRIBUTOR", "OTHER"],
                    "description": "Type of distribution destination",
                    "example": "WAREHOUSE"
                  },
                  "destinationName": {
                    "type": "string",
                    "description": "Name of distribution destination (2-200 characters)",
                    "minLength": 2,
                    "maxLength": 200,
                    "example": "Gudang Utama Bandung"
                  },
                  "destinationAddress": {
                    "type": "string",
                    "description": "Address of distribution destination (5-500 characters)",
                    "minLength": 5,
                    "maxLength": 500,
                    "example": "Jl. Pertanian No. 123, Bandung, Jawa Barat 40115"
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Distributed quantity (must be positive)",
                    "example": 500
                  },
                  "evidence": {
                    "type": "string",
                    "format": "binary",
                    "description": "Evidence document (PDF, JPEG, PNG, Word) - optional"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Distribution recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Producer role required"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token from Keycloak authentication"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "degraded", "unhealthy"],
            "example": "healthy"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-20T07:32:09.420Z"
          },
          "responseTime": {
            "type": "string",
            "example": "47ms"
          },
          "services": {
            "type": "object",
            "properties": {
              "blockchain": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["up", "down"]
                  },
                  "message": {
                    "type": "string"
                  }
                }
              },
              "ipfs": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["up", "down"]
                  },
                  "message": {
                    "type": "string"
                  }
                }
              },
              "queue": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["up", "down"]
                  },
                  "message": {
                    "type": "string"
                  },
                  "stats": {
                    "type": "object",
                    "properties": {
                      "waiting": {
                        "type": "number"
                      },
                      "active": {
                        "type": "number"
                      },
                      "completed": {
                        "type": "number"
                      },
                      "failed": {
                        "type": "number"
                      },
                      "delayed": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "environment": {
            "type": "string",
            "example": "production"
          }
        }
      },
      "SeedBatch": {
        "type": "object",
        "properties": {
          "batchId": {
            "type": "string",
            "example": "BATCH-20251120-001"
          },
          "variety": {
            "type": "string",
            "example": "Rice Premium"
          },
          "quantity": {
            "type": "number",
            "example": 1000
          },
          "unit": {
            "type": "string",
            "example": "kg"
          },
          "harvestDate": {
            "type": "string",
            "format": "date",
            "example": "2025-11-15"
          },
          "location": {
            "type": "string",
            "example": "Bandung, West Java"
          },
          "status": {
            "type": "string",
            "enum": ["Created", "Submitted", "Inspected", "Evaluated", "Certified", "Distributed"],
            "example": "Created"
          },
          "producerUUID": {
            "type": "string",
            "example": "user-uuid-123"
          },
          "ipfsCid": {
            "type": "string",
            "example": "QmXyZ123..."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HistoryEntry": {
        "type": "object",
        "properties": {
          "txId": {
            "type": "string",
            "description": "Transaction ID"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Transaction timestamp"
          },
          "isDelete": {
            "type": "boolean",
            "description": "Indicates if this is a delete operation"
          },
          "value": {
            "$ref": "#/components/schemas/SeedBatch"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          },
          "statusCode": {
            "type": "number",
            "description": "HTTP status code"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["username", "password", "role"],
        "properties": {
          "username": {
            "type": "string",
            "description": "Unique username (3-30 chars, alphanumeric and underscore)",
            "example": "farmer1",
            "minLength": 3,
            "maxLength": 30
          },
          "password": {
            "type": "string",
            "description": "Password (minimum 8 characters)",
            "example": "SecurePass123",
            "minLength": 8
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address",
            "example": "farmer1@example.com"
          },
          "firstName": {
            "type": "string",
            "description": "User first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "User last name",
            "example": "Doe"
          },
          "role": {
            "type": "string",
            "enum": ["producer", "pbt_field", "pbt_chief", "lsm_head"],
            "description": "User role in the system",
            "example": "producer"
          },
          "organization": {
            "type": "string",
            "description": "User organization",
            "example": "Farm ABC"
          },
          "phone": {
            "type": "string",
            "description": "Phone number",
            "example": "081234567890"
          },
          "address": {
            "type": "string",
            "description": "Address",
            "example": "Jl. Pertanian No. 1, Bandung"
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "User registered successfully. Please login to get access token, then call /enroll to create blockchain identity."
          },
          "data": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "string",
                "description": "Keycloak user UUID",
                "example": "550e8400-e29b-41d4-a716-446655440000"
              },
              "username": {
                "type": "string",
                "example": "farmer1"
              },
              "email": {
                "type": "string",
                "example": "farmer1@example.com"
              },
              "role": {
                "type": "string",
                "example": "producer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "nextStep": {
                "type": "string",
                "example": "POST /api/v1/identity/enroll (with Bearer token)"
              }
            }
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["username", "password"],
        "properties": {
          "username": {
            "type": "string",
            "example": "farmer1"
          },
          "password": {
            "type": "string",
            "example": "SecurePass123"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Login successful"
          },
          "data": {
            "type": "object",
            "properties": {
              "accessToken": {
                "type": "string",
                "description": "JWT access token for API calls"
              },
              "refreshToken": {
                "type": "string",
                "description": "JWT refresh token"
              },
              "expiresIn": {
                "type": "integer",
                "description": "Token expiry in seconds",
                "example": 300
              },
              "tokenType": {
                "type": "string",
                "example": "Bearer"
              }
            }
          }
        }
      },
      "EnrollResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "User enrolled successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "string",
                "description": "Keycloak user UUID"
              },
              "username": {
                "type": "string"
              },
              "mspId": {
                "type": "string",
                "example": "BPSBPBenihMSP"
              },
              "role": {
                "type": "string",
                "example": "producer"
              },
              "enrolledAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "RegisterAndEnrollResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "User registered and enrolled successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "keycloak": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              },
              "fabric": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "mspId": {
                    "type": "string"
                  },
                  "enrolledAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "IdentityStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "hasIdentity": {
                "type": "boolean",
                "description": "Whether user has a Fabric identity",
                "example": true
              },
              "identity": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "mspId": {
                    "type": "string",
                    "example": "BPSBPBenihMSP"
                  },
                  "type": {
                    "type": "string",
                    "example": "X.509"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}