version: '3.7'

networks:
  fabric_benih:
    external: true
    name: fabric_benih

services:
  chaincode-benih:
    build:
      context: ../chaincode
      dockerfile: Dockerfile
    image: chaincode-benih:latest
    container_name: chaincode-benih
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_ID=${CHAINCODE_ID}
      - FABRIC_LOGGING_SPEC=DEBUG
      - HFC_LOGGING={"debug":"console"}
    ports:
      - "9999:9999"
    networks:
      - fabric_benih
