version: '3.7'

networks:
  fabric_benih:
    external: true
    name: fabric_benih

services:
  chaincode-benih:
    build:
      context: ../chaincode
      dockerfile: Dockerfile
    image: chaincode-benih:latest
    container_name: chaincode-benih
    environment:
      - CORE_PEER_ADDRESS=pusat.chain-bpsbp.jabarchain.me:7052
      - CORE_PEER_TLS_ENABLED=false
      - CHAINCODE_ID=${CHAINCODE_ID}
      - FABRIC_LOGGING_SPEC=DEBUG
    ports: # No need to expose port in client mode
    networks:
      - fabric_benih
