version: '3.7'

networks:
  fabric_benih:
    external: true
    name: fabric_benih

services:
  benih-cc:
    container_name: benih-cc
    build: ../chaincode
    image: benih-cc:latest
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_ID=benih-certification_1.5:9859542dca72218e08965a00132d80d475ec370e51ef6760d0011b13f23f033a
    ports:
      - "9999:9999"
    networks:
      - fabric_benih
